<footer class="h-fit sm:h-24 p-8 flex gap-[10px] items-center">
  <div class="flex gap-2 sm:gap-14 flex-col sm:flex-row">
    <img
      src="../../../../assets/logo.png"
      alt="Logo"
      class="h-4 sm:h-6 w-auto max-w-[182px] mb-4 sm:mb-0"
      data-testId="footer-logo"
    />

    @for (link of footerLinks; track $index) {
    <a
      href="{{ link.link }}"
      class="font-[550] sm:text-base text-[12px] leading-6 tracking-[0.2px]"
    >
      {{ link.name }}
    </a>
    }
  </div>
</footer>
