<div class="rounded flex flex-col gap-4">
  <p class="text-center text-sm leading-[20px] tracking-[0.2px]">
    No Policies Found
  </p>
  <div class="p-4 bg-[#E5F6FF] p-4 rounded flex gap-2 items-center">
    <img src="../../../../../../assets/icons/info-circle.png" alt="Info Icon" />
    <p class="text-sm sm:text-base leading-[24px] tracking-[0.2px]">
      It looks like you don't have any insurance policies with us yet. If you
      want to explore your options, please contact Allianz Support.
    </p>
  </div>
</div>
