<nav
  class="flex justify-between items-center gap-[10px] px-8 py-3 h-14 border-b"
>
  <img
    src="../../../../assets/logo.png"
    alt="Logo"
    class="h-4 sm:h-6 w-auto max-w-[182px]"
    data-testId="nav-logo"
  />

  <div class="flex items-center gap-5">
    @if(isLoggedIn$ | async) {
    <button
      type="button"
      (click)="handleLogout()"
      class="py-1 px-2 rounded-lg border-2 border-red-500 text-red-600 hover:bg-red-600 hover:text-white"
    >
      {{ "layout.navbar.logout" | translate }}
    </button>
    }
    <app-language-selector></app-language-selector>
  </div>
</nav>
