<form
  (ngSubmit)="onSubmit()"
  [formGroup]="loginForm"
  class="flex flex-col gap-8 w-full max-w-md"
>
  <div class="flex flex-col gap-3">
    <p class="font-[550] text-[30px] leading-[40px] tracking-[0.3px]">
      {{ "pages.login.loginTitle" | translate }}
    </p>
    <p class="font-[400] text-4 leading-[24px] tracking-[0.3px]">
      {{ "pages.login.loginDesc" | translate }}
    </p>
  </div>

  <div class="flex flex-col gap-2">
    <label
      for="email"
      class="font-[400] text-4 leading-[24px] tracking-[0.2px]"
    >
      {{ "pages.login.emailAddress" | translate }}
    </label>
    <input
      focus
      type="email"
      name="email"
      [ngClass]="{
        'input-error':
          loginForm.get('email')?.touched && loginForm.get('email')?.invalid
      }"
      formControlName="email"
      class="w-full px-2 py-1 border-b focus:outline-none"
    />
    @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
    <div class="error-message">
      <img
        src="../../../../assets/icons/invalid-error.png"
        alt="invalid error"
      />
      <span> {{ "pages.login.invalidEmail" | translate }} </span>
    </div>
    }
  </div>
  <button
    type="submit"
    class="py-3 px-8 font-[550] text-4 leading-[24px] tracking-[0.2px] bg-brandBlue text-white rounded-sm disabled:bg-[#C2C2C2]"
    [disabled]="loginForm.invalid || isLoading()"
  >
    @if (isLoading()) {
    {{ "common.loading" | translate }}
    } @else {
    {{ "pages.login.continue" | translate }}
    }
  </button>
</form>
