<form
  [formGroup]="otpForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-5 md:gap-10 w-full max-w-md md:mt-16"
>
  <div class="flex flex-col justify-center gap-4 md:gap-8">
    <div class="flex flex-col justify-center gap-2">
      <h2
        class="text-[20px] md:text-[30px] font-[550] leading-[40px] tracking-[0.3px]"
      >
        {{ "pages.otp.otpTitle" | translate }}
      </h2>
      <p
        class="text-xs md:text-[16px] font-normal leading-[24px] tracking-[0.3px]"
      >
        {{ "pages.otp.otpDesc" | translate : { email } }}
      </p>
    </div>

    @if(this.newOTPRequested()){
    <div class="bg-[#E5F6FF] p-4 flex items-start gap-2">
      <img src="../../../../assets/icons/info-circle.png" alt="Info Icon" />
      <span
        class="text-xs md:text-[16px] font-normal leading-[24px] tracking-[0.2px]"
      >
        {{ "pages.otp.newOTP" | translate : { email } }}
      </span>
    </div>
    }

    <div class="flex gap-2 justify-between" otp-group>
      @for(ctrl of otpControls; track $index){
      <input
        [attr.aria-label]="'Digit ' + ($index + 1) + ' of 5 for OTP'"
        formControlName="{{ ctrl }}"
        maxlength="1"
        class="w-[32px] md:w-[56px] h-[42px] md:h-[72px] text-center border border-[#1F1F1F] rounded-lg text-sm md:text-xl text-sm sm:text-[30px] font-[550] leading-[24px] tracking-[0.2px]"
        type="text"
        appOtpInput
        [index]="$index"
        [formName]="otpForm"
        [ngClass]="{
          'border-red-500 text-red-500 focus:border-red-500':
            isOTPInvalid() || isExpired()
        }"
      />
      }
    </div>

    @if(isOTPInvalid()){
    <div class="error-message">
      <img
        src="../../../../assets/icons/invalid-error.png"
        alt="invalid error"
      />
      <span>{{ errMsgTranslationKey() | translate }}</span>
    </div>
    }

    <div class="flex flex-col justify-center gap-3 md:gap-6">
      <button
        type="submit"
        class="py-3 px-8 font-[550] text-sm md:text-[16px] leading-[16px] md:leading-[24px] tracking-[0.2px] bg-brandBlue text-white rounded-sm disabled:bg-[#C2C2C2]"
        [disabled]="otpForm.invalid || isExpired()"
      >
        {{ "pages.otp.submit" | translate }}
      </button>
      <button
        type="button"
        (click)="resendOTP()"
        class="text-[12px] md:text-[16px] text-brandBlue font-[550] leading-[24px] tracking-[0.2px]"
      >
        {{ "pages.otp.resendCode" | translate }}
      </button>
    </div>
  </div>
  <hr />
  <div class="flex flex-col justify-center gap-3 md:gap-6">
    <div class="flex gap-2 items-start">
      <img
        src="../../../../assets/icons/info-circle.png"
        alt="info-circle"
        class="w-[16px] sm:w-[24px] h-[16px] sm:h-[24px]"
      />
      <p
        class="text-xs sm:text-[16px] font-normal leading-[24px] tracking-[0.2px]"
      >
        {{ "pages.otp.ifEmailUpdatedMsg" | translate }}
      </p>
    </div>
    <div class="flex justify-center items-center gap-2">
      <p
        class="text-xs sm:text-[16px] font-normal leading-[24px] tracking-[0.3px]"
      >
        {{ "pages.otp.needHelp" | translate }}
      </p>
      <a
        href="#"
        class="text-xs sm:text-[16px] font-[550] leading-[24px] tracking-[0.2px]"
      >
        {{ "pages.otp.contact" | translate }}</a
      >
    </div>
  </div>
</form>
